
body{
    h1{
        font-size: 5rem;
        font-family: 'Playfair Display', serif;
    }

    h2{
        font-size: 2rem;
        font-family: 'Roboto Slab', serif;
    }

    h3{
        font-size: 1.9rem;
        font-family: 'Tilt Neon', cursive;
        text-align: center;
    }

    p{
        font-size: 1.8rem;
        font-family: 'Tilt Neon', cursive;
        text-align: center;
    }

}

.contenedor-header{
    background-image: linear-gradient(to right, #8fa39694 0%, #38f9d644 100%), url('../img/portada.jpg');
    height: 80rem;
    max-width: 100%;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 100% ;
    overflow: hidden;
}



.containerNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: transparent;
    height: 7rem;
    overflow: hidden;
    width: 100vw;
}

.nav{
    position: fixed;
    z-index: 2;
}
.img-camara{
    img{
        height: 5rem;
    }
    
}

.contenedor-items{
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
    justify-content: start;
    margin-right: 1rem;
}

.items{
    color: #000;
    position: relative;
    font-weight: 500;
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    &::before{
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 2rem;
        overflow: hidden;
        background: linear-gradient(to left,transparent 50%,#000 50%);
        background-position: right;
        background-size: 200%;
        transition: ease .6s;
    }

    &:hover::before{
        background-position: left;
        color: #f2f4f3;
    }

}

.texto-principal{
    @include centrado-column;
    margin-top: 15%;
    h2{
        font-family: 'Playfair Display', serif;
    }
}

//sobre mi

.sobreMi{
    display: grid;
    place-content: center;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows:  1fr 1fr;
    grid-template-areas: 
    "fotos  texto"
    "fotos  texto"
    ;
    overflow:hidden ;
    padding: 2rem;
    width: 100%;
    height: auto;
}

.texto-sobreMi{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: start;
    grid-area: texto;
    padding: 1rem;
    margin-right: 2rem;
    p{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.fotos-personales{
    grid-area: fotos;
    img{
        height: 25rem;
        transition: ease .4s;
        box-shadow: 0 0 6px #000;
    }
}
//galeria
.galeria{
    @include centrado-column;
    width: 100%;
    margin-bottom: 2rem;
    height:50rem;
    padding: 2rem
}

.texto-galeria{
    @include centrado-column;
    margin: 1rem;
    gap: 1rem;
}

.contenedor-galeria{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 10rem 10rem;
    max-width: 100%;
    margin-bottom: 15rem;
    height: 100%;
}

.imagenes-galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    img{
        height: 17rem;
        box-shadow: 0 0 5px #000;
        cursor: pointer;
        border-radius: 1rem;
    }
}

.contenedor-galeria .imagenes-galeria:nth-child(1){
    grid-column-start: span 2;
}

.contenedor-galeria .imagenes-galeria:nth-child(11){
    grid-row-start: span 2;
}

//lightbox

.light{
    position: fixed;
    background-color: #0000009c;
    width: 100%;
    height: 100vw;
    top: 0;
    @include centrado-column;
    transform: translate(100%);
    transition: transform .9s ease-in-out;
    overflow: hidden;
    z-index: 3;
}

.show{
    transform: translate(0%);
}

.agregar-imagen{
    position: relative;
    bottom: 25%;
    object-fit: cover;
    padding: 3rem;
    width: 60%;
    transform: scale(0);
    transition: .2s .2.5s;
    overflow: hidden;
    margin: 2rem 0;
}

.showImg{
    transform: scale(1);
    overflow: hidden;
    z-index: 3;
}

#close{
    height: 3rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1;
    color: aliceblue;
    cursor: pointer;
}
//HABILIDADES
.habilidades{
    @include centrado-column;
    background: linear-gradient(to right,rgba(255, 253, 253, 0.616),rgba(29, 28, 28, 0.644)), url('../img/henry-be-IicyiaPYGGI-unsplash.jpg');
    height: auto;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-position: 10%;
    max-width: 100%;
    padding: 3rem;
}

.contenedorHabilidades{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.textoHabilidades{
    @include centrado-column;
    gap: 3rem;
    img{
        height: 5rem;
    }
}

//CONTACTO

.contacto{
    @include centrado-column;
    margin: auto 0;
    background:linear-gradient(to top,#f2f4f380,#2e2d2d70),url('../img/map.jpg');
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    height: auto;
    h2{
        margin: 2rem 0;
    }
}

.iframe{
    box-shadow: 0 0 4px #000;
    border-radius: 1rem;
}

.contact-txt{
    @include centrado-column;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.text-contacto{
    @include centrado-row;
    gap: .5rem;
}

.bi{
    font-size: 2rem;
}

.footer{
    @include centrado-column;
    margin: 2rem;
}

//Mediaqueries

.menuH{
    display: none;
    position: fixed;
    top: 1rem;
    right: 2rem;
    height: 5rem;
}

.abrir{
    transform: translateX(0%);
    transition: ease-in .5s;
}

.disabled{
    opacity: 0;
}

.mostrar{
    display: block;
}

.nav1{
    background-image: linear-gradient(-225deg, #fffeff 0%, #64dbd9 100%);
    box-shadow: 0 0 6px #000;
}

.crossH{
    display: none;
    position: fixed;
    top: 1rem ;
    right: 10rem;
    height: 3rem;
    z-index: 1;
}