

@mixin centrado-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@mixin centrado-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}